/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* box-sizing: border-box; */
  }
  
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
  }
  
  img {
    width: 100%;
    display: inline-block;
  }
  
  button {
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .logo {
    width: 222px;
    cursor: pointer;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }
  
  .nav-list {
    height: 60vh;
    padding-top: 24px;
    position: absolute;
    left: 0%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    background-color: #fff;
    transition: top 1s ease;
  }
  
  .nav-link {
    font-size: 16px;
    color: #e62b1e;
  }
  
  .close-icon i{
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .bx-x {
    font-size: 28px;
    color: #e62b1e;
  }
  
  .mobile {
    display: flex !important;
  }
  
  .nav-btn {
    display: none;
    padding: 10px 24px;
    background: #e62b1e;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
  }
  
  .nav-btn i {
    margin-left: 5px;
  }
  
  .nav-items-right {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 40px;
    cursor: pointer;
  }
  
  /*--------------------- HERO SECTION ------------------------*/
  
  .main-section {
    background-image: url(../assets/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 490px;
  }
  
  .header {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
  }
  
  .header span {
    color: #e62b1e;
    /* text-decoration: underline wavy #bf807c; */
  }
  
  .btn-div {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .btn-filled {
    padding: 10px 24px;
    background: #e62b1e;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .btn-filled i {
    margin-left: 5px;
  }
  
  .btn-watch {
    background: none;
    margin-left: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .btn-watch i {
    color: #ffaba5;
    font-size: 21px;
    margin-right: 5px;
  }
  /*--------------------- THEME SECTION ------------------------*/
  
  .title {
    text-align: center;
    color: #e62b1e;
    font-size: 25px;
    margin: 30px 0;
    font-weight: 700;
  }
  
  .theme-name {
    font-size: 20px;
    font-weight: 500;
  }
  
  .theme-section img {
    width: 100px;
    margin: 10px 0;
    height: auto;
  }
  
  .theme-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  
  /*--------------------- RESPONSIVE ------------------------*/
  
  @media (min-width: 768px) {
    .nav-items-right {
      display: none;
    }
  
    .mobile {
      display: none !important;
    }
  
    .nav-list {
      align-items: center;
      display: flex;
      flex-direction: row;
      background: none;
      height: auto;
      position: static;
      justify-content: center;
      top: 0%;
      color: #fff;
      padding-top: 0;
      width: auto;
    }
  
    .nav-link {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin: 0 10px;
      color: #000;
    transition: 0.33s ease;
  
    }
  
    .nav-link:hover{
      color: #e62b1e;
    }
  
    .nav-btn {
      display: flex;
    }
  
    .btn-div {
      margin: 40px 0;
    }
  
    .header {
      font-size: 48px;
      width: 650px;
    }
  
    .btn-filled {
      font-size: 20px;
    }
  
    .btn-watch {
      font-size: 16px;
    }
  
    .btn-watch i {
      font-size: 23px;
    }
  
    .title {
      font-size: 28px;
      margin: 40px 0;
    }
  
    .theme-name {
      font-size: 23px;
    }
  
    .theme-section img {
      width: 100px;
      margin: 10px 0;
      height: auto;
    }
  
    .theme-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  @media (min-width: 1024px) {
    .nav-link {
      margin: 0 30px;
    }
  
    .btn-div {
      margin: 50px 0;
    }
  
    .header {
      font-size: 62px;
      width: 850px;
    }
  
    .btn-filled {
      font-size: 24px;
    }
  
    .btn-watch {
      margin-left: 50px;
      font-size: 20px;
    }
  
    .btn-watch i {
      font-size: 26px;
    }
  }
  
  